body {
    background-color: #585858;
}

main {
    position: relative;
    margin-left: 256px;
    width: 1024px;
}

#gameCanvas {
    background: white;
    border: 1px solid black;
    margin-left: 256px;
}

#infoBox {
    background: white;
    width: 1024px;
    margin-left: 256px;
}

#infoBox * {
    padding: 8px;
    margin-top: 0px;
}